html {
  font-family: 'Karla', sans-serif;
}

button {
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0px;
}

h1 {
  font-size: 24px;
  margin: 20px 0px 0px;
}

h2 {
  margin: 20px 0 8px;
  font-size: 20px;
}

h3 {
  margin: 0;
}

p {
  margin: 8px 0px;
  font-size: 16px;
}

input[type=checkbox] {
    accent-color: #67962A
}

.gainforest-map-marker {
  background-image: url('../public/gainforest_marker.jpeg');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.default {
  color: #000000;
}

.darkMode {
  color: #d3d3d3
}

.lightMode {
  color: #000000;
}

.verra-map-marker {
  background-image: url('../public/v.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-ctrl-bottom-right {
  margin: 4px;
}

.hive-map-marker {
  background-image: url('../public/hive.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

/* Remove dropdown arrow in the search component */
/* TODO: check in all browsers */
input::-webkit-calendar-picker-indicator {
  display: none !important;
}

input:focus {
  outline: none;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 16px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  border-radius: 24px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  border-radius: 50%;
  background: #67962A; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #67962A; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.message-outer-left, .message-outer-right {
font-size: 10px;
color: gray;
margin-top: 4px;
}

.message-outer-right {
  text-align: right;
  margin-right: 6px
}

.message-inner-left {
  display: flex;
  flex-direction: row;
}

.message-inner-right {
  display: flex;
  flex-direction: row-reverse;
}

.message-bubble-right, .message-bubble-left {
  display: inline-block;
  max-width: calc(100% - 67px);
  overflow-wrap: break-word;
  padding: 6px 10px;
  border-radius: 10px;
  margin-top: 4px;
}

.message-bubble-left {
  border-bottom-left-radius: 0;
  background-color: #8c8b8b;
}

.message-bubble-right {
  border-bottom-right-radius: 0;
  background-color: #67962A;
}

.message-text {
  color: white;
}

.tree-video {
  position: absolute;
  top: 240;
  right: 8;
  border-radius: 8px;
}

.tree-key {
  font-size: 8px;
  width: 24px;
}
.tree-val {
  font-size: 9px;
}

.tree-info, .tree-photo {
  position: absolute;
  width: 180px;
  right: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tree-info {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  top: 160px;
  height: 70px;
  padding: 8px;
  background-color: #22252A;
}

.tree-photo {
  border-radius: 0px 0px 8px 8px;
  top: 230px;
  max-height: 320px;
}

.tree-key {
  color: #808080;
}

.community-photo {
  position: relative;
  display: inline-block;
}

.community-photo img {
  display: block;
  width: 100%;
  transition: filter 0.3s ease;
}

.community-photo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    #4a4a4a 0%,
    transparent 25%
  );
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.community-photo:hover::after {
  opacity: 1;
}

.maximize-icon {
  visibility: hidden;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
}

.community-photo:hover .maximize-icon {
  visibility: visible;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  z-index: 4;
}

.chat-menu-button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
}

.chat-menu-button:hover {
  background-color: #cccccc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay video {
  max-height: 80%;
}

.search-button {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 160px;
  top: 17px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.search-button:hover {
filter: brightness(50%)
  }

.logo {
  text-decoration: none;
  color: white;
}

.logo:hover {
  color: gray;
}

.tooltip:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.info-box {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

.info-box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.info-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.info-box::-webkit-scrollbar-thumb {
  background-color: #393a3d;
  border-radius: 5px;
}

.info-box:hover,
.info-box:active,
.info-box:focus {
  overflow-y: scroll;
  scrollbar-width: auto;
}

.species-button:hover {
background-color: #2b2b2b !important;

}

/* blog audio  */

.audio-wrapper {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.g-audio--playbutton {
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
  background: #1ceafa;
}

.g-audio-content {
  display: inline-block;
  position: relative;
  padding: 2px 5px;
  transition: background 0.2s linear;
  color: white;
  background: #243f48;
}

.g-audio-content:hover {
  color: #ffaa00;
}

.g-audio-content::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(26, 236, 255, 0.1);
}


@media only screen and (min-width: 480px) {
  .tree-info, .tree-photo {
    width: 230px;
  }
  .tree-key {
    font-size: 10px;
  }
  .tree-val {
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) {
  .tree-info, .tree-photo {
    width: 240px;
  }
  .tree-info {
    height: 80px;
  }
  .tree-photo {
    top: 240px;
    max-height: 350px;
  }
  .tree-key {
    font-size: 11px;
    width: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .tree-info, .tree-photo {
    width: 280px;
  }
  .tree-photo {
    max-height: 450px;
  }
  .tree-val {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .tree-info, .tree-photo {
    width: 300px;
  }
  .tree-photo {
    max-height: 500px;
  }
  .tree-key {
    font-size: 12px;
  }
}

