html {
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.map-marker {
  background-image: url('../public/gainforest_marker.jpeg');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-ctrl-bottom-right {
  margin: 4px;
}


/* Remove dropdown arrow in the search component */
/* TODO: check in all browsers */
input::-webkit-calendar-picker-indicator {
  display: none !important;
}
