.map-marker {
  background-image: url('../public/gainforest_marker.jpeg');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-ctrl-bottom-right {
  margin: 4px 12px;
}

h1 {
  font-size: 24px;
}
