html {
  font-family: 'Karla', sans-serif;
}

button {
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0px;
}

h1 {
  font-size: 24px;
  margin: 20px 0px 0px;
}

h2 {
  margin: 20px 0 8px;
  font-size: 20px;
}

h3 {
  margin: 0;
}

p {
  margin: 8px 0px;
  font-size: 16px;
}

input[type=checkbox] {
    accent-color: #67962A
}

.gainforest-map-marker {
  background-image: url('../public/gainforest_marker.jpeg');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.default {
  color: #000000;
}

.darkMode {
  color: #d3d3d3
}

.lightMode {
  color: #000000;
}

.verra-map-marker {
  background-image: url('../public/v.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-ctrl-bottom-right {
  margin: 4px;
}

.hive-map-marker {
  background-image: url('../public/hive.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

/* Remove dropdown arrow in the search component */
/* TODO: check in all browsers */
input::-webkit-calendar-picker-indicator {
  display: none !important;
}

input:focus {
  outline: none;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 16px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  border-radius: 24px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  border-radius: 50%;
  background: #67962A; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #67962A; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.message-outer-left, .message-outer-right {
font-size: 10px;
color: gray;
margin-top: 4px;
}

.message-outer-right {
  text-align: right;
}

.message-inner-left {
  display: flex;
  flex-direction: row;
}

.message-inner-right {
  display: flex;
  flex-direction: row-reverse;
}

.message-bubble-right, .message-bubble-left {
  display: inline-block;
  max-width: calc(100% - 67px);
  overflow-wrap: break-word;
  background-color: #67962A;
  padding: 6px 10px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  margin-top: 4px;
}

.message-text {
  color: white;
}
